.form-side-div{
    text-align: center;
}

.input-div{
    margin-bottom: 40px;
}

.input-field{
    width: 25%;
    height: 53px;
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    border: none;
    text-indent: 10px;
    font-size: 16px;
    text-align: center;

}

.input-field::placeholder {
    text-align: center;
}


.csv-side-div{
    margin-top: 290px;
}

.choose-file-container {
    /* position: absolute; */
    /* margin-top: 35px;
    margin-left: 10px; */
margin-left: 685px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .choose-image-container{
    margin-left: 685px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 90px;
  }




  .choose-file-container input[type="file"] {
    /* display: none; */
}

.message-loader {
    margin-bottom: 40px;
    position: relative;
    /* background-color: red; */
    z-index: 1;
    height: 80px;
}

.div-div {
    padding-top: 50px;
    position: absolute;
    padding-left: 60px;
    /* background-color: red; */

    z-index: 2;
}



.choose-file-button {
    position: relative;
    width: 87px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 8px;
    color: black;
    background-color: white;
    padding-top: 10px;
    padding-left: 5px;
    margin-left: -236px;
    font-weight: bolder;
    /* font-weight: bolder; */


}

.choose-file-button:hover {
    background-color: rgb(157, 157, 180);
}


.upload-button {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    font-weight: bolder;
}

.upload-button:hover {
    background-color: rgb(157, 157, 180);
    


} 

.info {
    margin-left: 600px;
    margin-bottom: 10px;
}