.allproduct-div{
  background-color: white;
  padding-top: 30px;
}

.product-image-container {
    width: 40px;
    height: 40px;
    overflow: hidden;
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }

  .edit-button {
    /* width: 60px;
    border-radius: 10px;
    border: none; */
    background-color: white;

    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 4px;
    transition: 0.5s;
    /* margin-top: 10px; */
    border: 2px solid #1b52b9;
    color: #1b52b9;
  }

  .edit-button:hover {
    background: #1b52b9;
    border-color: #1b52b9;
    color: white;  }

  .message-product {
    padding-left: 500px;
    position: absolute;
  }
  
  .span-caret {
    cursor: pointer;
  }

  .span-caret-name {
    cursor: pointer;
    color: blue;
    font-weight: 900;
    font-size: 15px;
    padding: 10px;
  }

  .span-caret-name:hover {
    color: rgb(103, 103, 238); /* Add any styles you want when hovering */
  }