.allproduct-div{
  background-color: #f6f9ff;
  padding-top: 30px;
}

.product-image-container {
    width: 30px;
    height: 30px;
    overflow: hidden;
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }

  .edit-button {
    width: 60px;
    border-radius: 10px;
    border: none;
  }

  .edit-button:hover {
    background-color: grey;
  }

  .message-product {
    padding-left: 500px;
    position: absolute;
  }
  
  .span-caret {
    cursor: pointer;
  }

  .span-caret-name {
    cursor: pointer;
    color: blue;
    font-weight: 900;
  }

