.nav {
height: 100px;
background-color: #1F2A40;
box-shadow: 894px;
position: fixed;
z-index: 3;
width: 1900px;
}

.nav-homepage {
    height: 100px;
    background-color: #1F2A40;
    box-shadow: 894px;
    /* position: fixed; */
    z-index: 3;
    width: 1900px;
    }

.name-shop {
    font-size: 50px;
    padding-left: 305px;
    font-weight: bolder;
    color: white;
}

.divy {
    padding-top: 15px;
    display: flex;
}

.logout-button {
    height: 50px;
    width: 80px;
    border-radius: 20px;
    margin-left: 200px;
    margin-top: 15px;
    border: none
}

.logout-button:hover {
    background-color: #4d5461;
}